body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./images/hospital.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

code {
  font-family: sans-serif;
}

@media only screen and (max-width: 1440px) {
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* background-image: url('./images/hospital.jpeg'); */
    background-size: cover;
    background-repeat: repeat;
    min-height: 100vh;
    flex-direction: column;
  }
}

/* https://codesandbox.io/s/material-ui-5-hamburger-menu-navigation-forked-9yzrx9?file=/src/App.js */

